#content {
  background: black;
  opacity: 0.8;
  color: white;
  -webkit-border-radius: 5px;
  padding: 2em;
}

#close {
  display: none;
}

body.active #close {
  display: block;
}

body {
  margin: 1em;
}
